<div class="card">
    <!-- <div class="card-header">
    </div> -->
    <div class="card-body">
      <h4 class="card-title">{{entry.name}}</h4>
      <p class="card-text">{{entry.location}}</p>
      {{#link-to "food.detail" entry.id class="btn btn-primary"}}Open{{/link-to}}
    </div>
  <!-- {{#link-to "food.detail" entry.id}}
  {{/link-to}} -->
</div>