<div style="padding-top: 20px;"></div>
{{#link-to "food.new"}}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add a new craving!</h4>
      <p class="card-text">{{entry.location}}</p>
    </div>
  </div>
{{/link-to}}

{{#each model as |foodItem|}}
  {{food-list-item entry=foodItem}}
{{/each}}
